<!-- Lab 1 -->
<app-lab-1-hello-world></app-lab-1-hello-world>

<!-- Lab 2 -->
<app-lab-2-components></app-lab-2-components>

<!-- Lab 3 -->
<app-lab-3-events-ref></app-lab-3-events-ref>

<!-- Lab 4 -->
<app-lab-4-event-handlers></app-lab-4-event-handlers>

<!-- Lab 5 -->
<app-lab-5-share-services-data></app-lab-5-share-services-data>

<!-- Lab 6 -->
<app-lab-6-provide-share-values></app-lab-6-provide-share-values>

<!-- Lab 7 -->
<app-lab-7-loop-ngfor></app-lab-7-loop-ngfor>

<!-- Lab 8 -->
<app-lab-8-pass-value-into-component></app-lab-8-pass-value-into-component>

<!-- Lab 9 -->
<app-lab-9-two-way-binding></app-lab-9-two-way-binding>

<!-- Lab 10 -->
<app-lab-10-components-with-output></app-lab-10-components-with-output>

<!-- Lab 11 -->
<app-lab-11-css-inside-components></app-lab-11-css-inside-components>

<!-- Lab 12 -->
<app-lab-12-apply-css-conditionally></app-lab-12-apply-css-conditionally>